[submodule "IJava"]
	path = IJava
	url = https://github.com/sakupo/IJava.git
[submodule "jdiscript"]
	path = jdiscript
	url = https://github.com/sakupo/jdiscript.git
[submodule "javadoc"]
	path = javadoc
	url = https://github.com/sakupo/JISD-doc.git
