.ipynb_checkpoints
.vscode/
.metadata/
/JISD-doc*
/JISD-CLI
debugspace/test.ipynb
sample/demo/HelloWorld2.class
*.cld
JISD/.idea/uiDesigner.xml
*/.jisd_static_data/*
docs/
out/
.gradle/
JISD@tmp/
sample/.jisd_static_data*
